*{margin:0px;}


#container{
  min-width: 1000px;
  max-width: auto;
  display: block;
  color: #efefef;
  font-family: sans-serif;
  background: linear-gradient(#1C1C1C, #060606);
}

header{
  background-color: #1d1d1d;
  min-height: 70px;
}
nav{
  background-color: #2c2c2c;
  padding: 3px;
  box-shadow: inset 0px -20px 6px -6px #212122;
}
ul{
  list-style: none;
  display: inline;
  position: absolute;
    top: 8px;
    left: 610px;
  font-family: "Intro-Cond-Light-Free", Arial, sans-serif;
}
nav ul{list-style: none; text-align: left;}
nav ul li{display: inline; padding-right:1.1em; font-weight:bold; font-size:1.6em;}
nav ul li a{color:#0060ab; text-decoration:none; background-color: #2e2e2f; }
nav ul li a:hover{color:#682E97;}
nav ul li a:active{color:#682E97;}
#Title{
  padding-left: 40px;
  font-size: 5em;
  text-shadow: 0px 3px #333333;
  font-family: "Intro-Cond-Light-Free", Arial, sans-serif;
}


#main{
  max-width: 1000px;
  min-height: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  background-color: #262626;
  position:relative;
  margin:0 auto;
  border: 1px left right solid #2c2c2c;

}
p{
  padding: 1em;
  padding-left: 2em;
  padding-right: 13em;
  line-height: 28px;
}



footer{
  background-color: #060606;
  text-align: right;
  padding: 5px;
  padding-right: 21%;
}
small{
  color: #cccccc;
  font-family: "Intro-Cond-Light-Free", Arial, sans-serif;
}


@font-face {
   font-family: Intro-Cond-Black-Free;
   src: url('Fonts/Intro-Cond-Black-Free.otf');
}
@font-face {
   font-family: Intro-Cond-Light-Free;
   src: url('Fonts/Intro-Cond-Light-Free.otf');
}

/* ===============  DROPDOWN  =============== */

.dropdown {
    position: relative;

    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #0060ab;}
.show {display:block;}
